a {
  text-decoration: none !important;
  color: black !important;
  transition: 0.2s all ease-in-out;
}
a:hover {
  color: gray !important;
}
.icon {
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}
.icon:hover {
  scale: 1.1;
}
